streamlit
openai
pypdf
pandas
streamlit-oauth
python-dotenv
watchdog
psycopg2-binary
sqlalchemy
pytz
beautifulsoup4
fpdf
extra-streamlit-components
# Force rebuild v1.1
python-docx
python-pptx
pyjwt
requests
